@media only screen and (max-width: 768px) {
  body {
    background-color: #333333;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: linear-gradient(243deg, #0da299, #f2d364);
    background-size: 600% 600%;

    -webkit-animation: BackgroundGradient 28s ease infinite;
    -moz-animation: BackgroundGradient 28s ease infinite;
    animation: BackgroundGradient 28s ease infinite;
  }

  @-webkit-keyframes BackgroundGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes BackgroundGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes BackgroundGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .logo img {
    width: 200px;
    padding-top: 60px;
  }
  .kolommen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
  }
  .row {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 364px;
    margin: 20px 10px;
    padding: 20px;
  }

  .blue {
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    margin-bottom: -1px;
    border-top: 5px solid #f2d364;
  }

  .blue h1 {
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 5px;
  }
  .blue p {
    font-weight: 100;
    font-size: 20px;
  }
  .gradient {
    background-color: rgba(51, 51, 51, 0.5);
    margin-top: -1px;
    border-top: 5px solid #f2d364;
  }

  .overlay {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 200px;
  }

  .yellow {
    background-color: rgba(51, 51, 51, 0.5);
    height: 250px;
    border-top: 5px solid #f2d364;
  }

  .yellow h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
  }

  .yellow p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
  }

  button {
    padding: 8px 40px;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
letter-spacing: 2px;
    border-radius: 32px;
    border: none;
    background: #f2d364;
    color: white;
    box-shadow: 0px 10px 15px rgba(0, 5, 10, 0.2);
  }

  button a {
    color: white;
    text-decoration: none;
  }
  .circle-ct {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 40px;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 200px;
    width: 62px;
    height: 62px;
    box-shadow: 0px 10px 15px rgba(0, 5, 10, 0.2);
  }

  .circle .fab {
    color: white;
    font-size: 35px;
  }

}

@media only screen and (min-width: 768px) {
  body {
    background-color: #333333;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: linear-gradient(243deg, #0da299, #f2d364);
    background-size: 600% 600%;

    -webkit-animation: BackgroundGradient 28s ease infinite;
    -moz-animation: BackgroundGradient 28s ease infinite;
    animation: BackgroundGradient 28s ease infinite;
  }

  @-webkit-keyframes BackgroundGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes BackgroundGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes BackgroundGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .logo img {
    width: 200px;
    padding-top: 60px;
  }

  .kolommen {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
  }
  .row {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 364px;
    margin: 20px 10px;
    padding: 20px;
  }

  .blue {
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    border-top: 5px solid #f2d364;
  }

  .blue h1 {
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 5px;
  }
  .blue p {
    font-weight: 100;
    font-size: 20px;
  }
  .gradient {
    background-color: rgba(51, 51, 51, 0.5);
    border-top: 5px solid #f2d364;
  }

  .overlay {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 200px;
  }

  .yellow {
    background-color: rgba(51, 51, 51, 0.5);
    height: 250px;
    border-top: 5px solid #f2d364;
  }

  .yellow h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
  }

  .yellow p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
  }

  .circle-ct {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 40px;
  }

  button {
    padding: 8px 40px;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
letter-spacing: 2px;
    border-radius: 32px;
    border: none;
    background: #f2d364;
    color: white;
  }

  button a {
    color: white;
    text-decoration: none;
  }
  button:hover {
    position: relative;
    top: -3px;
    box-shadow: 0px 10px 15px rgba(0, 5, 10, 0.2);
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 200px;
    width: 62px;
    height: 62px;
    margin: 5px;
  }

  .circle .fab {
    color: white;
    font-size: 35px;
  }
  .circle:hover {
    position: relative;
    top: -3px;
    box-shadow: 0px 10px 15px rgba(0, 5, 10, 0.2);
  }

  .gradient:hover {
    position: relative;
    perspective: 100px;
    top: -3px;
    box-shadow: 0px 10px 15px rgba(0, 5, 10, 0.3);
  }
}
